h1= question.title
h4= question.body

= render partial: 'answers/form', locals: { question: question, answer: @answer }

= render question.answers

// current_user&.id means:
// if current user is nil -> return nil (not exception)
- if current_user&.author_of?(question)
  = link_to 'Delete', question_path(question), method: :delete, data: { confirm: 'Are you sure?' }
